.svg {
	fill: #fff;
	width: 140px;
}
.nav {
	display: flex;
	align-items: center;
	justify-content: space-around;
	height: 8vh;
	min-width: 100vw;
	background-color: #000;
}
.nav_links a {
	text-decoration: none;
	color: #fff;
	font-weight: 600;
	padding: 0.5rem 1.5rem;
	font-size: 0.95rem;
}

.line {
	display: inline-block;
	width: 1px;
	height: 0.8rem;
	background-color: #fff;
}
.nav_links a:hover,
.nav_links a:hover i {
	color: #1ed760;
}

@media (max-width: 991px) {
	.nav {
		height: 5vh;
	}

	.nav_links {
		display: none;
	}
	.nav_links a {
		display: block;
		margin-bottom: 1rem;
	}

	.svg {
		width: 90px;
		margin-right: 100px;
	}
}

@media (max-width: 503px) {
	.nav {
		display: flex;
		align-items: center;
		justify-content: space-around;
		min-width: 100vw;
		background-color: #000;
		width: fit-content;
	}
}
